/* General Styles */
body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #1f05ae;
}

/* Header Styles */
header {
    background-color: #ffffff;
    color: #1f05ae;
    width: 120px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
    border-radius: 0px 50px 50px 0px;
    height: 100vh;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 50px;
    z-index: 999;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
}

header .navbar-brand {
    margin-bottom: 2px;
}

.burger-menu {
    display: none;
}

header .nav-item {
    text-align: left;
    margin-bottom: 1vw;
    width: 100%;
}

header .nav-item a {
    color: #1f05ae;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

header .nav-item a:hover {
    background-color: #fcfcfc;
}

header .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-with-scroll {
    /* Set a fixed height for the card */
    height: 25rem;
    /* Enable vertical scrollbar */
    overflow-y: auto;
}

.time {
    text-align: center;
    font-size: 2rem;
    background-color: #ffffff;
    color: #1f05ae;
    border-radius: 50px;
    width: 100%;
}

.time span {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.time-card{
    width: 50%;
}

/* Main Content Styles */
.main-content {
    margin-left: 120px;
    padding: 10px;
    transition: margin-left 0.3s;
    padding-top: 100px; /* Added to account for the header height */
}

.card {
    margin-bottom: 40px;
    font-size: medium;
    border-radius: 0.5rem;
    width: 100%;
    margin-right: 30px;
}

/* GPA and CGPA Card Styles */
.gpa-card {
    width: 50%;
}

/* Table Styles */
.table-striped {
    width: 100%;
    border-collapse: collapse;
}

.table-striped th, .table-striped td {
    padding: 8px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(46, 18, 231, 0.097);
}

/* Footer Styles */
footer {
    background-color: #1f05ae;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: small;
    margin-top: 20px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.social-media i {
    font-size: 24px;
}

/* Media Queries */
@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .navbar-nav {
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        width: 15%;
    }
    
    .main-content {
        margin-left: 15%;
    }

    .time {
        border-bottom: 10px;
        border-radius: 50px;
        width: 10vw;
        height: 9vh;
    }
    
    .time span {
        display: inline-block;
        margin-left: 5px;
    }

    .card {
        margin-bottom: 100px;
        font-size: medium;
        border-radius: 0.5rem;
        width: 100%;
        margin-right: 30px;
    }
    

    header nav {
        display: contents;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
        border-top: 1px solid #e0e0e0;
    }

    header nav.active {
        display: flex;
    }

    header .burger-menu {
        display: block;
        cursor: pointer;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    html {
        font-size: 18px;
    }

    .profile-card, .courses-card, .stats-card, .links-card {
        margin-bottom: 20px;
    }

    button {
        font-size: 0.8rem;
        padding: 5px 10px;
        width: 10vw;
    }

    .gpa-card {
        width: 50%;
    }
}

@media screen and (min-width: 1201px) {
    html {
        font-size: 20px;
    }

    .profile-card, .courses-card, .stats-card, .links-card {
        margin-bottom: 25px;
    }

    button {
        font-size: 1rem;
        padding: 6px 12px;
    }
}

@media screen and (min-width: 584px) {
    button {
        font-size: 0.8rem;
        padding: 5px 10px;
        margin: 5px 0;
    }

    html {
        font-size: 14px;
    }

    .header-img {
        margin-left: -5%;
        border-radius: 50%;
        width: 20%;
        max-width: 100px;
        height: auto;
    }

    .gpa-card {
        width: 30%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 12px;
    }

    .navbar-title {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.6rem;
        padding: 3px 6px;
        margin: 3px 0;
    }

    .header-img {
        margin-left: 100%;
        border-radius: 50%;
        width: 20%;
        max-width: 100px;
        height: auto;
    }

    .profile-card, .courses-card, .stats-card, .links-card {
        margin-bottom: 5px;
    }

    .gpa-card {
        width: 30%;
        font-size: 1.5rem;
    }

    header{
        height: 100px;
    }

    .card{
        margin-top: 10vh;
    }
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .burger-menu {
        display:inline-flex;
    }
    
    header nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #ffc400;
        position: absolute;
        top: 60px;
        left: 0;
    }
    
    header .nav-item {
        width: 100%;
        text-align: left;
        font-size: 0.8rem;
        padding: 10px;
    }
    
    header .profile-pic {
        width: 50px;
        height: 50px;
    }

    header{
        height: 100px;
    }
    
    .main-content {
        margin-left: 0;
        padding-top: 60px; /* Added to account for the header height */
    }
    
    .burger-menu.active + nav {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .burger-menu {
        display: block;
    }
    
    header nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #ffc400;
        position: absolute;
        top: 60px;
        left: 0;
    }
    
    header .nav-item {
        width: 100%;
        text-align: left;
        font-size: 0.6rem;
        padding: 8px;
    }
    
    header .profile-pic {
        width: 40px;
        height: 40px;
    }
    
    .main-content {
        margin-left: 0;
        padding-top: 60px; /* Added to account for the header height */
    }
    
    .burger-menu.active + nav {
        display: flex;
    }
}
